* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Alegreya', serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

#main {
  display: flex;
  flex: 1;
  justify-content: center;
}

#main > article {
  flex: 1;
  order: 1;
  min-height: 100%;
  margin-left: 10px;
  max-width: 50%;
}

header {
  font-size: 26px;
}

header, footer {
  height: 20vh;
}

header, footer, article {
  padding: 1em;
}

footer div {
  margin-top: 140px;
  vertical-align: bottom;
}