<?php
  session_start();

  require_once './php/helpers/checkFormError.php';
  require_once './php/helpers/inputValue.php';

  if ((isset($_SESSION['is_user_logged'])) && ($_SESSION['is_user_logged'] == true))
	{
		header('Location: user.html');
		exit();
  }
  if ((isset($_SESSION['is_admin_logged'])) && ($_SESSION['is_admin_logged'] == true))
	{
		header('Location: admin.html');
		exit();
  }
?>

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>casa-maria</title>
  <meta name="description" content="hotel">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/fontello.css">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Alegreya:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">

  <!--VUE.JS-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <!--TOP BAR-->
  <div class="top-bar">
    <div class="logo">CASA-MARIA</div>
    <nav class="menu">
      <ul>
        <li><a href="#">Hotel</a>
          <ul class="dropdown">
            <li><a href="#">O hotelu</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="./lokalizacja.html" target="_blank">Położenie</a></li>
            <li><a href="#">Opinie</a></li>
          </ul>
        </li>
        <li><a href="#">Pokoje</a>
          <ul class="dropdown">
            <li><a href="#">Standard</a></li>
            <li><a href="#">Premium</a></li>
            <li><a href="#">President</a></li>
          </ul>
        </li>
        <li><a href="#">Oferty specjalne</a></li>
        <li><a href="./galeria.html" target="_blank">Galeria</a></li>
        <li><a href="./kontakt.html" target="_blank">Kontakt</a></li>
        <li><a href="#" id="clickRegister">Zarejestruj się</a></li>
        <li><a href="#" id="clickLogin">Zaloguj się</a></li>
      </ul>
    </nav>
  </div>

  <!--MODAL SECTION-->
  <div class="bg-modal-login">
    <div class="modal-content-login">
      <div class="close-login">+</div>
      <i class="icon-user"></i>
      <form id="form-login" @submit="checkForm" method="POST" action="php/login.php" novalidate="true">
        <input id="emailLogin" type="email" name="emailLogin" placeholder="Email" v-model='emailLogin'
          <?= inputValue('form_login_email'); ?> required>
        <p v-if="errorLogin.length">
          <ul>
            <li>{{ errorLogin }}</li>
          </ul>
        </p>
        <?= checkFormError('error_login_email'); ?>
        <input id="passwordLogin" type="password" name="passwordLogin" placeholder="Hasło" v-model='passwordLogin'
          <?= inputValue('form_login_password'); ?> required>
        <p v-if="errorPassword.length">
          <ul>
            <li>{{ errorPassword }}</li>
          </ul>
        </p>
        <?= checkFormError('error_login_password'); ?>
        <button id="loginButt" type="submit" name="loginButt">Zaloguj się</button>
      </form>
    </div>
  </div>

  <div class="bg-modal-register">
    <div class="modal-content-register">
      <div class="close-register">+</div>
      <form id="form-register" @submit="checkForm" method="POST" action="php/register.php" novalidate="true">
        <input id="nameRegister" type="text" name="nameRegister" placeholder="Imię" v-model='nameRegister'
          <?= inputValue('form_name'); ?> required>
        <p v-if="errorName.length">
          <ul>
            <li>{{ errorName }}</li>
          </ul>
        </p>
        <?= checkFormError('error_name'); ?>
        <input id="surnameRegister" type="text" name="surnameRegister" placeholder="Nazwisko" v-model='surnameRegister'
          <?= inputValue('form_surname'); ?> required>
        <p v-if="errorSurname.length">
          <ul>
            <li>{{ errorSurname }}</li>
          </ul>
        </p>
        <?= checkFormError('error_surname'); ?>
        <input id="email" type="email" name="email" placeholder="Email" v-model="email"
          <?= inputValue('form_email'); ?> required>
        <p v-if="errorEmail.length">
          <ul>
            <li>{{ errorEmail }}</li>
          </ul>
        </p>
        <?= checkFormError('error_email'); ?>
        <input id="passwordRegister" type="password" name="passwordRegister" placeholder="Hasło" v-model="passwordRegister"
          <?= inputValue('form_password'); ?> required>
        <p v-if="errorPassword.length">
          <ul>
            <li>{{ errorPassword }}</li>
          </ul>
        </p>
        <?= checkFormError('error_password'); ?>
        <input id="passwordConfirm" type="password" name="passwordConfirm" placeholder="Potwierdź hasło" v-model="passwordConfirm"
          <?= inputValue('form_confirm'); ?> required>
        <p v-if="errorPasswordConfirm.length">
          <ul>
            <li>{{ errorPasswordConfirm }}</li>
          </ul>
        </p>
        <?= checkFormError('error_confirm'); ?>
        <button id="registerButt" type="submit" name="registerButt">Zarejestruj się</button>
      </form>
    </div>
  </div>

  <div class="bg-modal-booking">
    <div class="modal-content-booking">
      <div class="close-booking">+</div>
      <div class="labels-booking">
        <input id="book-from" type="text" disabled>
        <label> - </label>
        <input id="book-to" type="text" disabled>
      </div>
      <div class="input-booking">
        <input id="type-room" type="text" disabled>
        <input id="price-room" type="number" disabled>
        <input id="bookButt" type="submit" value="Zarezerwuj">
      </div>
    </div>
  </div>

  <!--BANNER-->
  <div class="banner">
    <div class="banner-text">
      <div class="banner-text-items">
        <h2>casa-maria</h2>
        <p>Pensjonat znajduje się w miejscowości Cuevas del Palmar.
          Miasta Adeje oraz Puerto de la Cruz oddalone są odpowiednio o 44 km i 20 km.
          Odległość od najbliższego lotniska – portu lotniczego Tenerife Norte – wynosi 44 km.
          Goście są z niej bardziej zadowoleni w porównaniu z innymi obiektami.
          Ten pensjonat w mieście Cuevas del Palmar jest także pozytywnie oceniany ze względu na stosunek jakości do
          ceny!</p>
      </div>
    </div>
  </div>

  <!--OFFER CONTENT-->
  <div class="main-content">
    <div class="room-option">
      <h2>Stantdard</h2>
      <div class="room-image">
        <img src="./images/roomStandard.jpg" alt="">
      </div>
      <p>Od 60zł/noc</p>
    </div>
    <div class="room-option">
      <h2>Premium</h2>
      <div class="room-image">
        <img src="./images/roomPremium.jpg" alt="">
      </div>
      <p>Od 80zł/noc</p>
    </div>
    <div class="room-option">
      <h2>Deluxe</h2>
      <div class="room-image">
        <img src="./images/roomPresident.JPG" alt="">
      </div>
      <p>Od 120zł/noc</p>
    </div>
  </div>

  <!-- BOOKING FORM-->
  <div class="contact">
    <div class="booking-form">
      <form id="form-booking" novalidate>
        <div class="form-header">
          <h2>Zarezerwuj swój pobyt</h2>
        </div>

        <div class="form-group">
          <span class="form-label">Przyjazd</span>
          <input id="book-date-from" class="form-control" type="date" required>
        </div>

        <div class="form-group">
          <span class="form-label">Wyjazd</span>
          <input id="book-date-to" class="form-control" min="" type="date" required>
        </div>

        <div class="form-group">
          <span class="form-label">Goście</span>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>

        <div class="form-group">
          <span class="form-label">Dzieci</span>
          <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
          </select>
        </div>

        <div class="formButt">
          <input id="clickBooking" type="submit" class="submit-btn" value="Sprawdź dostępność">
        </div>
      </form>
    </div>
  </div>

  <!-- jQuery first, then own JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="./js/javascript.js"></script>
</body>

</html>