<?php
  session_start();

  require_once './php/helpers/checkFormError.php';
  require_once './php/helpers/inputValue.php';
  require_once './php/helpers/checkMessage.php';

  if ((isset($_SESSION['is_admin_logged'])) && ($_SESSION['is_admin_logged'] == true))
	{
		header('Location: admin.html');
		exit();
  }
?>

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>casa-maria</title>
  <meta name="description" content="hotel">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Alegreya:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">

  <!--VUE.JS-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <!--TOP BAR-->
  <div class="top-bar">
    <div class="logo">CASA-MARIA</div>
    <nav class="menu">
      <ul>
        <li><a href="#">Hotel</a>
          <ul class="dropdown">
            <li><a href="./lokalizacja.html" target="_blank">Położenie</a></li>
          </ul>
        </li>
        <li><a href="./galeria.html" target="_blank">Galeria</a></li>
        <li><a href="./kontakt.html" target="_blank">Kontakt</a></li>
        <li><a href="#" id="clickRegister">
          <?=isset($_SESSION['is_user_logged']) ? 'Konto' : 'Zarejestruj się'?>
        </a></li>
        <li><a href="#" id="clickLogin">
          <?=isset($_SESSION['is_user_logged']) ? 'Wyloguj się' : 'Zaloguj się'?>
        </a></li>
      </ul>
    </nav>
  </div>

  <div id="logged" style="display: none;"
      <?=isset($_SESSION['is_user_logged']) ? 'data-islogged="true"' : 'data-islogged="false"'?>>
  </div>

  <!--MODAL SECTION-->
  <!--MODAL LOGIN-->
  <div class="bg-modal-login">
    <div class="modal-content-login">
      <div class="close-login">+</div>
      <i class="fa fa-user"></i>
      <form id="form-login" @submit="checkForm" method="POST" action="php/login.php" novalidate="true">
        <input id="emailLogin" type="email" name="emailLogin" placeholder="Email" v-model='emailLogin'
          <?=inputValue('form_login_email'); ?> required>
        <p v-if="errorLogin.length">
          <ul>
            <li>{{ errorLogin }}</li>
          </ul>
        </p>
        <?= checkFormError('error_login_email'); ?>
        <input id="passwordLogin" type="password" name="passwordLogin" placeholder="Hasło" v-model='passwordLogin'
          <?=inputValue('form_login_password'); ?> required>
        <p v-if="errorPassword.length">
          <ul>
            <li>{{ errorPassword }}</li>
          </ul>
        </p>
        <?= checkFormError('error_login_password'); ?>
        <button id="loginButt" type="submit" name="loginButt">Zaloguj się</button>
      </form>
    </div>
  </div>

  <!--MODAL REGISTER-->
  <div class="bg-modal-register">
    <div class="modal-content-register">
      <div class="close-register">+</div>
      <form id="form-register" @submit="checkForm" method="POST" action="php/register.php" novalidate="true">
        <input id="nameRegister" type="text" name="nameRegister" placeholder="Imię" v-model='nameRegister'
          <?=inputValue('form_name'); ?> required>
        <p v-if="errorName.length">
          <ul>
            <li>{{ errorName }}</li>
          </ul>
        </p>
        <?= checkFormError('error_name'); ?>
        <input id="surnameRegister" type="text" name="surnameRegister" placeholder="Nazwisko" v-model='surnameRegister'
          <?=inputValue('form_surname'); ?> required>
        <p v-if="errorSurname.length">
          <ul>
            <li>{{ errorSurname }}</li>
          </ul>
        </p>
        <?= checkFormError('error_surname'); ?>
        <input id="email" type="email" name="email" placeholder="Email" v-model="email" <?=inputValue('form_email'); ?>
        required>
        <p v-if="errorEmail.length">
          <ul>
            <li>{{ errorEmail }}</li>
          </ul>
        </p>
        <?= checkFormError('error_email'); ?>
        <input id="passwordRegister" type="password" name="passwordRegister" placeholder="Hasło" v-model="passwordRegister" required>
        <p v-if="errorPassword.length">
          <ul>
            <li>{{ errorPassword }}</li>
          </ul>
        </p>
        <?= checkFormError('error_password'); ?>
        <input id="passwordConfirm" type="password" name="passwordConfirm" placeholder="Potwierdź hasło" v-model="passwordConfirm" required>
        <p v-if="errorPasswordConfirm.length">
          <ul>
            <li>{{ errorPasswordConfirm }}</li>
          </ul>
        </p>
        <?= checkFormError('error_confirm'); ?>
        <button id="registerButt" type="submit" name="registerButt">Zarejestruj się</button>
      </form>
    </div>
  </div>

  <!--MODAL BOOKING-->
  <div class="bg-modal-booking">
    <div class="modal-content-booking">
      <div class="close-booking">+</div>
      <div class="labels-booking">
        <input id="book-from" type="text" disabled>
        <label> - </label>
        <input id="book-to" type="text" style="margin-left: 11px;" disabled>
      </div>
      <div class="inner-modal-content-booking"></div>
    </div>
  </div>

  <!--MODAL RESERVE-->
  <div class="bg-modal-reserve">
    <div class="modal-content-reserve">
      <div class="close-reserve">+</div>
      <i class="far fa-address-card"></i>
      <h3>Podaj swoje dane, żeby dokonać rezerwacji.</h3>
      <form id="form-reserve" @submit.prevent="onSubmit" novalidate="true">
        <input id="nameReserve" type="text" name="nameReserve" placeholder="Imię" v-model='nameReserve'
          <?= inputValue('name'); ?> required>
        <p v-if="errorName.length">
          <ul>
            <li>{{ errorName }}</li>
          </ul>
        </p>
        <input id="surnameReserve" type="text" name="surnameReserve" placeholder="Nazwisko" v-model='surnameReserve'
          <?= inputValue('surname'); ?> required>
        <p v-if="errorSurname.length">
          <ul>
            <li>{{ errorSurname }}</li>
          </ul>
        </p>
        <input id="emailReserve" type="email" name="emailReserve" placeholder="Email" v-model='emailReserve'
          <?= inputValue('email'); ?> required>
        <p v-if="errorEmail.length">
          <ul>
            <li>{{ errorEmail }}</li>
          </ul>
        </p>
        <button id="reserveButt" @click="checkForm" type="submit" name="reserveButt">Rezerwuj</button>
      </form>
    </div>
  </div>

  <!--BANNER-->
  <div class="banner">
    <div class="banner-text">
      <div class="banner-text-items">
        <h2>casa-maria</h2>
        <p>Pensjonat znajduje się w miejscowości Cuevas del Palmar.
          Miasta Adeje oraz Puerto de la Cruz oddalone są odpowiednio o 44 km i 20 km.
          Odległość od najbliższego lotniska – portu lotniczego Tenerife Norte – wynosi 44 km.
          Goście są z niej bardziej zadowoleni w porównaniu z innymi obiektami.
          Ten pensjonat w mieście Cuevas del Palmar jest także pozytywnie oceniany ze względu na stosunek jakości do
          ceny!</p>
      </div>
    </div>
  </div>

  <!--OFFER CONTENT-->
  <div class="main-content">
    <div class="room-option">
      <h2>Stantdard</h2>
      <div class="room-image">
        <img src="./images/roomStandard.jpg" alt="">
      </div>
      <p>Od 60zł/noc</p>
    </div>
    <div class="room-option">
      <h2>Premium</h2>
      <div class="room-image">
        <img src="./images/roomPremium.jpg" alt="">
      </div>
      <p>Od 80zł/noc</p>
    </div>
    <div class="room-option">
      <h2>Deluxe</h2>
      <div class="room-image">
        <img src="./images/roomPresident.JPG" alt="">
      </div>
      <p>Od 120zł/noc</p>
    </div>
  </div>

  <!-- BOOKING FORM-->
  <div class="contact">
    <div class="booking-form">
      <form id="form-booking" novalidate>
        <div class="form-header">
          <h2>Zarezerwuj swój pobyt</h2>
        </div>

        <div class="form-group">
          <span class="form-label">Przyjazd</span>
          <input id="book-date-from" class="form-control" min="" type="date" required>
        </div>

        <div class="form-group">
          <span class="form-label">Wyjazd</span>
          <input id="book-date-to" class="form-control" min="" type="date" required>
        </div>

        <div class="form-group">
          <span class="form-label">Goście</span>
          <select id="nrPersons" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="formButt">
          <input id="clickBooking" type="button" class="submit-btn" value="Sprawdź dostępność" disabled="true">
        </div>
      </form>
    </div>
  </div>

  <!--MODAL POPUP-->
  <div class="bg-modal-popup" style=<?= checkIsMessage(); ?>>
    <div class="modal-content-popup">
      <div class="close-popup">+</div>
        <form id="form-popup" novalidate="true">
          <p id="popup-message"><?= getMessage(); ?></p>
        </form>
      </div>
    </div>
  </div>

  <!-- jQuery first, then own JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
  <script src="./js/javascript.js"  type="module"></script>
</body>

</html>